.cart_link{
    text-decoration:none;
    color: rgb(255, 255, 255);
}
.cart_link:hover{
    color:rgba(255,179,0);
}
.logo_name a, .logo_name a:hover{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration:none;
}
.userBlock{

}
.userInfo{
    width: inherit;
    display: inline-flex;
    gap: 3px;
    align-items: center;
}
.userImage{
    max-height: 30px;
    border-radius: 50%;
}
.submenu {
    background: white;
    position: absolute;
    width: 100px;
    z-index: 5;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
    justify-content: center;
    display: flex;
}
.submenu a {
    color: #333333;
    text-decoration: none;
    text-align: center;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a { border-bottom: none; }
.userBlock:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}
